html, body {
    margin: 0;
    padding: 0;
    background-color: #2419B2;
    font-family: 'Roboto', sans-serif;
}

#header{
    height:40px;
    margin-left:25%;
    margin-right:25%;
    margin-top:25px;
    color:#FFF;
    font-size:36px;
    width:50%;
    border-bottom:solid #B6B0FF 2px;
    text-align: center;
}

#config {
    height: 70px;
}
        
#start{
    text-align: center;
    font-size:28px;
    margin-top: 5%;
}

#restart{
    text-align: center;
    font-size:28px;
}

.divider{
    height:30px;
    }

#content{
    margin:auto;
    width:800px;
    height:550px;
    position:relative;
    overflow:hidden;
}

#playArea{
    margin-left:10%;
    margin-right:10%;
    width:80%;
    height:480px;
    right:0px;
    position:absolute;
}

#q{
    margin-left:5%;
    margin-right:5%;
    width:90%;            
    font-size:27px;
    color:white;
    text-align: center;
    background: #3399FF;
    border-radius: 3px;
}
      
.option{
    height:42px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 1%;
    width:80%;
    font-size:18px;
    color:#FFFFFF;
    padding:2px;
    padding-left:10px;
    border: 2px solid white;
    cursor:pointer;
    background-color:#3399FF;
    border-radius: 3px;
}
      
.option:hover{
    border:#0B0831 solid 2px;
    color:#0B0831;
}

.modifiers{
    height:42px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 1%;
    width:80%;
    font-size:18px;
    color:#FFFFFF;
    padding:2px;
    padding-left:10px;
    border: 2px solid white;
    cursor:pointer;
    background-color:#3399FF;
    border-radius: 3px;
    text-align: center;
}
      

.correct{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top: 2%;    
    padding:5px;
    font-size:30px;
    color:#FFFFCC;
    background-color:#009900;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
 }
                     
.incorrect{
    width:50%;
    margin-left:25%;
    margin-right:25%;
    margin-top: 2%;
    padding:5px;
    font-size:30px;
    color:#FFFFCC;
    background-color:#CC3300;
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
}

footer {
    background-color: #3399FF;
    color: white;
    text-align: center;

}

@media screen and (max-width:800px) {
    #header{margin-left:5%;margin-right:5%;width:90%;height:90%;}
    #content{margin:1%;width:98%;}	
    #playArea{margin:1%;width:98%;}
    #logo{margin-left:5%;width:90%;}
    .option{width:80%;margin-top:2%;}
 }
                
@media screen and (max-width:460px) {
    .option{width:80%;margin-top:2%;}
} 